<div class="sidebar-wrap">
  <div class="sidebar-title">
    <h1>预订菜单</h1>
  </div>
  <div class="sidebar-content">
    <ul class="sidebar-list">
      <li>

        <a >入住管理</a>
        <ul class="sub-menu">
          <li><a href="__MODULE__/Lobby/lobby"><i class="icon-font">&#xe960;</i>办理入住</a></li>
          <li><a href="__MODULE__/Order/manage"><i class="icon-font">&#xe960;</i>订单入住</a></li>
          <li><a href="__MODULE__/Query/query"><i class="icon-font">&#xe986;</i>入住查询</a></li>
          <li><a href="__MODULE__/History/record"><i class="icon-font">&#xe986;</i>历史订单</a></li>
          <li><a href="__MODULE__/Statistical/counto"><i class="icon-font">&#xe99a;</i>入住统计</a></li>
        </ul>
      </li>
      <li>
        <a >退房管理</a>
        <ul class="sub-menu">
          <li><a href="__MODULE__/Checkout/checkout"><i class="icon-font">&#xe994;</i>退房清算</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>