<div class="topbar-wrap white">
  <div class="topbar-inner clearfix">
    <div class="topbar-logo-wrap clearfix">
      <ul class="top-info-list clearfix">
        <li><a class="on" href="__MODULE__/index">首页</a></li>
        <li><a class="on" href="__MODULE__/Onlinebook/">在线预订</a></li>
        <li><a class="on" href="__MODULE__/Search/">订单查询</a></li>
      </ul>
    </div>
    <div class="top-info-wrap">
      <ul class="top-info-list clearfix">
        <li><a class="on" href="__APP__/Admin/Index/login">酒店管理</a></li>
        <li><a class="on" href="__MODULE__/About/">关于我们</a></li>
      </ul>
    </div>
  </div>
</div>