<!--/main-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>酒店后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<script language="javascript">
    function checkspace(checkstr)
    {
        var str = '';
        for(i = 0; i < checkstr.length; i++)
        {
            str = str + ' ';
        }
        return (str == checkstr);
    }
    function check()
    {
        if(checkspace(document.renpassword.password.value))
        {
            document.renpassword.password.focus();
            alert("原密码不能为空！");
            return false;
        }
        if(checkspace(document.renpassword.password1.value))
        {
            document.renpassword.password1.focus();
            alert("新密码不能为空！");
            return false;
        }
        if(checkspace(document.renpassword.password2.value))
        {
            document.renpassword.password2.focus();
            alert("确认密码不能为空！");
            return false;
        }
        if(document.renpassword.password1.value != document.renpassword.password2.value)
        {
            document.renpassword.password1.focus();
            document.renpassword.password1.value = '';
            document.renpassword.password2.value = '';
            alert("新密码和确认密码不相同，请重新输入");
            return false;
        }
        document.admininfo.submit();
    }
</script>
<body>

<include file="Public/head" />
<div class="container clearfix">
    <include file="Public/left" />
    <include file="Public/right" />
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/index">后台管理</a><span class="crumb-step">&gt;</span><span class="crumb-name">密码修改</span></div>
        </div>

        <div class="result-wrap">
            <form name="renpassword" id="renpassword" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <td width="20%" align="right" class="td_bg">用户名：</td>
                            <td width="80%" class="td_bg"><volist name="list" id="vo">{$vo.name}</volist></td>
                        </tr>
                        <tr>
                            <td align="right" class="td_bg">原密码：</td>
                            <td class="td_bg"><input name="password" type="password" id="password" size="20"></td>
                        </tr>
                        <tr>
                            <td align="right" class="td_bg">新密码：</td>
                            <td class="td_bg"><input name="password1" type="password" id="password1" size="20"></td>
                        </tr>
                        <tr>
                            <td align="right" class="td_bg">确认密码：</td>
                            <td class="td_bg"><input  name="password2" type="password" id="password2" size="20"></td>
                        </tr>
                        <tr>
                            <td align="right" class="td_bg"><input class="td_bg btn btn-warning" type="reset" name="reset" value="重置"></td>
                            <td class="td_bg"><input class="td_bg btn btn-info" onClick="return check();" type="submit" name="Submit" value="确定更改"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>