<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>酒店后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container  clearfix">
    <include file="Public/left" />
    <include file="Public/right" />
    <!--/sidebar-->


    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/index">后台管理</a><span class="crumb-step">&gt;</span><span class="crumb-name">办理入住</span></div>
        </div>
        <center>
            <div class="search-wrap ">
                <div class="search-content">
                    <form action="__MODULE__/Lobby/search" method="post">
                        <table class="search-tab">
                            <tr>
                                <th width="0">查询条件</th>
                                <td>
                                    <select name="search-type" id="">
                                        <option value="typename" selected>单/双/标/豪/商务人间</option>
                                    </select>
                                </td>
                                <th width="70">关键字</th>
                                <td><input class="common-text" placeholder="请输入查询条件" name="keywords" value="" id="" type="text"></td>
                                <td><input class="btn btn-primary btn2" name="sub" value="查询空闲房间" type="submit"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </center>

        <div class="result-wrap">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th class="tc">房间编号</th>
                        <th class="tc">类型编号</th>
                        <th class="tc">类型名称</th>
                        <th class="tc">房间位置</th>
                        <th class="tc">房间面积</th>
                        <th class="tc">床位数量</th>
                        <th class="tc">早餐</th>
                        <th class="tc">网络</th>
                        <th class="tc">电视</th>
                        <th class="tc">浴室</th>
                        <th class="tc">价格</th>
                        <!--th class="tc">剩余数量</th-->
                        <th class="tc">操&emsp;&emsp;作</th>
                    </tr>
                    <volist name="list" id="vo">
                        <tr>
                            <th class="tc">{$vo.roomid}</th>
                            <th class="tc">{$vo.typeid}</th>
                            <th class="tc">{$vo.typename}</th>
                            <th class="tc">{$vo.location}</th>
                            <th class="tc">{$vo.area}</th>
                            <th class="tc">{$vo.bednum}</th>
                            <th class="tc">{$vo.hasfood}</th>
                            <th class="tc">{$vo.hasnet}</th>
                            <th class="tc">{$vo.hastv}</th>
                            <th class="tc">{$vo.haswc}</th>
                            <th class="tc">{$vo.price}</th>
                            <th class="tc">
                                <a href='__MODULE__/Order/add_order/?orid={$vo.roomid}'  class='link-update'>办理入住</a>
                            </th>
                        </tr>

                    </volist>

                </table>
                <div class="list-page">
                    <tr>
                        <th> {$page}</th>
                        <th><br /></th>
                        <th>{$count}</th>

                    </tr>
                </div>

            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>