<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>酒店预订系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/check_input.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>

<include file="Public/head" />
<div class="container clearfix">

    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><span>欢迎使用酒店预订系统</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>酒店概况介绍</h1>

            </div>
        </div>
        <div class="result-content">


            <!--/main-->
        </div>
</body>
</html>
